<div class="page-header container">
  <% if admin_signed_in? %>
    <%= link_to new_van_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Van
    <% end %>
  <% end %>
  <h1>Find Your Ride</h1>
</div>

<!-- Nav tabs -->
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#south" role="tab" data-toggle="tab">South Bound</a></li>
    <li><a href="#north" role="tab" data-toggle="tab">North Bound</a></li>
  </ul>
</div>
<br/>

<div class="tab-content container">
  <div class="tab-pane active" id="south">
    <%= render partial: 'schedule', locals: { :vans => @vans_south } %>
  </div>
  <div class="tab-pane" id="north">
    <%= render partial: 'schedule', locals: { :vans => @vans_north } %>

  </div>

</div>

