<div class="page-header container">
  <%= link_to new_van_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Van
  <% end %>
  <h1>Find Your Ride</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs container" role="tablist">
  <li class="active"><a href="#south" role="tab" data-toggle="tab">South Bound</a></li>
  <li><a href="#north" role="tab" data-toggle="tab">North Bound</a></li>
</ul>

<div class="tab-content container">
  <div class="tab-pane active" id="south">
    <%= render partial: 'schedule', locals: { :vans => @vans_south } %>
  </div>
  <div class="tab-pane" id="north">
    <%= render partial: 'schedule', locals: { :vans => @vans_north } %>

  </div>

</div>

