<div class="page-header container">
  <%= link_to vans_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New van</h1>
</div>

<%= render 'form' %>
