<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('http://webcom.colostate.edu/supporting/files/2013/08/panorama_banner_donor_relations.jpg');"></div>
      <div class="carousel-caption">
        <h2 style="color: white;">Ft. Collins to Denver</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://paulrutherfordcreative.files.wordpress.com/2013/08/denverline.jpg');"></div>
      <div class="carousel-caption">
        <h2 style="color: white;">Direct</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('http://www.photosbygi.com/wp-content/uploads/2010/11/DSC_0100-Edit.jpg');"></div>
      <div class="carousel-caption">
        <h2 style="color: white;">Cheap</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Gnome 2 Home
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4><i class="fa fa-question-circle"></i> What is Gnome2Home?</h4>
        </div>
        <div class="panel-body">
          <p>We fill in the missing segment of Front Range transportation: Introducing the Ft. Collins - Denver Direct!</p>
          <div align="center">
            <%= link_to vans_path, class: 'btn btn-success btn-lg' do %>
              <i class="fa fa-calendar"></i> View Schedule
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4><i class="fa fa-map-marker"></i> Multiple stops</h4>
        </div>
        <div class="panel-body">
          <p>Click Below for a map of the stops we make in Ft. Collins and in Denver</p>
          <div align="center">
            <a href="/map" class="btn btn-success btn-lg">
              <i class="fa fa-fw fa-compass"></i> Map
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4><i class="fa fa-cube"></i> Easy to Use</h4>
        </div>
        <div class="panel-body">
          <p>1. Create an account (you can use Facebook) <br/>
          2. Buy a ticket <br/>3. Ride!</p>
          <div align="center">
            <a href="/passengers/sign_up" class="btn btn-success btn-lg">
              <i class="fa fa-user"></i> Sign up
            </a>
          </div>
          <div align="center">-or-</div>
          <div align="center">
            <div class="btn-group">
              <%= link_to passenger_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-sm' do %>
                <i class="fa fa-facebook fa-2x"></i> &nbsp&nbsp
                <span style="font-size: large">Sign in with Facebook</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header"></h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <img class="img-responsive img-portfolio img-hover home-image" size="700x450" src="http://brianallmerradionetwork.files.wordpress.com/2011/07/csu-colorado-state-university-ft-collins.jpg" alt="">
    </div>
    <div class="col-md-4 col-sm-6">
        <img class="img-responsive img-portfolio img-hover home-image" size="700x450" src="http://freecoloringpagesite.com/coloring-pics/van-coloring-pages-5.gif" alt="">
    </div>
    <div class="col-md-4 col-sm-6">
        <img class="img-responsive img-portfolio img-hover home-image" size="700x450" src="http://paulgillespie.me/wp-content/uploads/2012/04/Early-Morning-Denver-Colorado-2010.jpg" alt="">
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <section id="about_section"></section>
  <div class="row">
    <div class="col-sm-8">
    <div class="col-lg-12 col-sm-12">
      <h2 class="page-header">Gnome2Home Mission</h2>
    </div>
    <div class="col-md-12">
      <p>We aim to provide, comfortable, reliable and safe transport between Ft. Collins and Denver through</p>
      <ul>
        <li>Awesome Vans</li>
        <li>Comfortable seats</li>
        <li>paperless QR code tickets</li>
        <li>etc</li>
      </ul>
      <p>We know you've google searched 'Denver to Fort Collins shuttle' many times, with no success. Well, now there is a solution. If you make regular trips between these two hub cities, ride today!</p>
    </div>
    <!--<div class="col-md-6">-->
      <!--<img class="img-responsive home-image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSYDyzxi--o3LZx0HR2hLV-aKL_MeF9dcjEq-lpHKtXqJQgM3gx"  alt="">-->
    <!--</div>-->
    </div>

    <div class="col-sm-4">
      <%= inline_svg('gnome_lg.svg') %>

    </div>
  </div>


  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <!--<div class="well">-->
    <!--<div class="row">-->
      <!--<div class="col-md-8">-->
        <!--<p>Convinced yet? Get your tickets today</p>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<a class="btn btn-lg btn-primary btn-block" href="#">Buy tickets</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<hr>-->

  <!-- Footer -->

  <!--FACEBOOK SDK-->
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=543709552429043&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <footer>
    <div class="row">
      <div class="col-sm-4">
        <p>Copyright &copy; Gnome2Home 2014</p>
      </div>
      <div class="col-sm-4">
        <div id="fb-root"></div>
          <div class="fb-like" data-href="https://www.facebook.com/algorhythms.co" data-width="20" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
</script>
