<div class="page-header container">
  <%= link_to vans_path, class: 'btn btn-info' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back to Schedule
  <% end %>
  <h1>Buy Your Ticket Here</h1>
</div>

<%= render 'form' %>
