<div class="page-header container">
  <h1>Check riders in</h1>
  <h4>Van # <%= @van.id %></h4>
  <h4>Departs from <%= @van.departure_time_readable %></h4>
</div>




<!--FINISH THIS-->
<!--<%# if params[:ticket_id] %>-->
<!--<%# show ticket info %>-->

